[Unit]
Description=Minecraft Server

[Service]
Type=simple
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3
SyslogIdentifier=minecraft
User=minecraft
Group=minecraft
WorkingDirectory=/home/minecraft/minecraft_server
ExecStart=/home/minecraft/start_minecraft_server.sh
ExecStop=/home/minecraft/stop_minecraft_server.sh

[Install]
WantedBy=multi-user.target
